/* FONTES */
@font-face {
  font-family: 'rubik-regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: local('Rubik'), local('Rubik-Regular'),
      url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff'),
      url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-medium';
  src: url('../fonts/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-bold';
  src: url('../fonts/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* regles @ */
@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);

@media (--viewport-4) {
  /* ... */
}


