/************
 * FONTES
 */

@font-face {
  font-family: 'rubik-regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: local('Rubik'), local('Rubik-Regular'),
      url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff'),
      url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-medium';
  src: url('../fonts/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff'),
      url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-bold';
  src: url('../fonts/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff'),
      url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


/************
 * RESPONSIVE
 */

@media (max-width:  1199.98px) {

  #main-container {margin: auto}
  body {font-size: 1.5rem;}
  h1 {font-size: 2.7rem; line-height: 3rem;}
  h2 {font-size: 1.6rem;}
  header p {font-size: 1.25rem; line-height: 2.8rem;}
}


@media (max-width:  991.98px) {

  #main-container {
  margin: auto;
  }

  header {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0px;
  }

  header p {
     width: auto;
  }

  #value-container {
    justify-content: center;
  }

  .value {
  flex: 0 0 45%;
  align-items: center;
  margin: 10px 2px;
  }
}


@media  (max-width: 575.98px)  {
  #main-container {
    margin: 0vh 2vw 0vh 2vw;
    width: 100vw;
  }

  #value-container {
    flex-wrap: wrap;
  }

  .value {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 10px 2px;
    min-width: 270px;
    min-height:270px;
  }

  header {
    width: auto;
  }

  header p {
    max-width: 90vw;
  }
}
